<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <link rel="stylesheet" href="{{assets}}/css/font-awesome.css" />

    <link href="{{assets}}/css/3wpproto.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {{> poem }}

    <header role="banner">
      <div class="site-title">
        <span>three</span>
        <span>word</span>
        <span>poems</span>
      </div>

      <nav>
        <ul id="tools">
          <li><a class="fa fa-search" href="browse.html">Poems</a></li
          ><li><a class="fa fa-sign-in" href="login.html">Log in</a></li
          ><li><a class="fa fa-info-circle" href="about.html">About</a></li>
        </ul>

        {{> body }}
      </nav>

      {{#if filterlabel}}
      <div id="pagination">
        <span id="filter">{{filterlabel}}</span>
        {{#if prev}}<a href="{{prev}}.html" class="fa fa-blah">Previous</a>{{/if}}
        {{#if next}}<a href="{{next}}.html" class="fa fa-blah">Next</a>{{/if}}
      </div>
      {{/if}}

    </header>



  </body>
</html>
